@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

:root {
  --scroll-thumb-color: rgb(101, 126, 110);
  --bg-color: rgb(235, 235, 235);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: whitesmoke;
  font-family: Quicksand, sans-serif;
}

.nav {
  position: absolute;
  top: 2vh;
  left: 2vw;
  width: 96vw;
  height: 12vh;
  background: var(--scroll-thumb-color);
  border-radius: 10px;
  box-shadow: 0 2px 10px 1px black;
}
#tree-search {
  position: absolute;
  top: 3.5vh;
  left: 1vw;
  width: 12rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
}

.algorithm {
  position: absolute;
  top: 4vh;
  color: white;
  background: rgba(31, 48, 230, 0.435);
  font-size: 1.5rem;
  width: auto;
  height: 2rem;
  border-radius: 10px;
  transition: all ease 0.3s;
  font-weight: 300;
  user-select: none;
  outline: none;
  border: none;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.421);
}

#bfs {
  left: 17rem;
}
#dfs {
  left: 22rem;
}

/* buttons */
.algorithm.selected {
  color: rgb(7, 213, 72);
  transform: translate(0, 1px);
  box-shadow: none;
}
.algorithm:hover {
  filter: brightness(1.5);
  transform: scale(1.1);
}

/* scale */
.scale-normal {
  position: absolute;
  color: white;
  font-size: 2rem;
  top: 3.2vh;
  right: 3.8rem;
  user-select: none;
}
.fa-search:hover,
.fa-search-minus:hover,
.scale-normal:hover,
.fa-search-plus:hover {
  color: black;
}

.tree-item {
  position: absolute;
  top: 17vh;
  left: 2vw;
  width: 96vw;
  height: 80vh;
  border-radius: 10px;
  background-color: #eae8ec;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%230e44c7' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  border: none;
  box-shadow: 0 2px 10px 1px black;
}
.scalable {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 99%;
  height: 98.5%;
  overflow: auto;
}
.tree {
  position: absolute;
  transform: scale(1);
}

.save-load {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 3rem;
  width: 10.8rem;
  top: 0.8rem;
  right: 2.5vw;
  z-index: 2;
  background: white;
  border-radius: 10px;
  box-shadow: 0 1px 10px 2px black;
}
.save-load .fas {
  top: 0.4rem;
  font-size: 2rem;
  color: var(--scroll-thumb-color);
}
.fa-upload {
  right: 0.5rem;
}
.fa-download {
  right: 3rem;
}
.fa-broom {
  right: 5.3rem;
}
.fa-plus-square {
  top: 0.7rem;
  right: 8.5rem;
}

.fa-plus-square:hover,
.fa-broom:hover,
.fa-download:hover,
.fa-upload:hover {
  transform: scale(1.2);
  color: rgb(181, 62, 62);
}
/* nodes---------------------------------------- */
.node {
  position: absolute;
  height: 4rem;
  width: 4rem;
  background: rgb(45, 138, 196);
  border: 1px solid rgb(88, 87, 87);
  box-shadow: 0 1px 5px 1px rgb(0, 0, 0);
  border-radius: 50%;
  transition: all ease 0.3s;
  z-index: 1;
}

p {
  text-align: center;
  margin-top: 1.4rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: white;
}
.fas {
  position: absolute;
  font-size: 0.8rem;
  transition: all ease 0.3s;
}
.fa-search-plus {
  right: 1rem;
}
.fa-search-minus {
  right: 6rem;
}
.fa-search {
  left: 14rem;
}
.fa-search,
.fa-search-minus,
.fa-search-plus {
  top: 4vh;
  color: white;
  font-size: 2rem;
}
.fa-plus {
  top: 3.1rem;
  left: 1.6rem;
  color: rgb(35, 4, 211);

  opacity: 0;
}
.fa-trash {
  top: 1.6rem;
  left: 0.1rem;
  color: red;
  opacity: 0;
}
.fa-exchange-alt {
  top: 0.1rem;
  left: 1.65rem;
  font-size: 0.7rem;
  color: black;
  opacity: 0;
}
.fa-quote-left {
  top: 1.6rem;
  left: 3rem;
  color: rgb(10, 191, 22);
  opacity: 0;
}
.node:hover {
  transform: scale(1.1);
  background: whitesmoke !important;
}
.node:hover > p {
  color: rgb(0, 0, 0);
  font-size: 0.6rem;
  margin-top: 1.7rem;
}
.node:hover > .fas {
  opacity: 0.5;
}
.fas:hover {
  opacity: 1 !important;
}

/*line element*/
.line {
  background-color: rgb(255, 25, 25);
  height: 2px;
}

/* input el */
.input-el {
  position: absolute;
  background: rgba(75, 76, 76, 0.877);
  color: white;
  font-weight: 300;
  height: 2.5rem;
  width: 7rem;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0 0.5rem;
}

/* square */
.square {
  position: absolute;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: none;
  border: 3px solid red;
}

/* ---------------------------------------- */

/* scroll bar */
/* scroll bar */

::-webkit-scrollbar {
  background: var(--bg-color);
  width: 11px;
  height: 11px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(48, 48, 48);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
  border-radius: 15px;
}

/* meda queries */
@media screen and (max-width: 650px) {
  #tree-search {
    width: 9rem;
  }

  .algorithm {
    top: 3.9vh;
    font-size: 1.3rem;
    border-radius: 5px;
  }

  #bfs {
    left: 11.4rem;
  }
  #dfs {
    left: 15.5rem;
  }

  .fa-search-plus,
  .fa-search,
  .fa-search-minus {
    font-size: 1rem;
    top: 2.4rem;
  }
  .fa-search {
    left: 9.8rem;
  }
  .fa-search-minus {
    right: 3.7rem;
  }

  .scale-normal {
    font-size: 1.4rem;
    top: 4.3vh;
    right: 2.3rem;
  }
}
@media screen and (max-width: 400px) {
  .algorithm {
    top: 4vh;
    font-size: 0.6rem;
  }

  #bfs {
    left: 11.2rem;
  }
  #dfs {
    left: 13.5rem;
  }
}
