@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgb(192, 192, 192);
  font-family: Quicksand, sans-serif;

}

.tree-container{
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

.tree {
  height: 2rem;
  width: 2rem;
  border: 1px solid rgb(88, 87, 87);
  box-shadow: 0 1px 5px 2px rgb(0, 0, 0);
 
  border-radius: 50%;
}

